<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ru.zelenyhleb.etk.ui.commands.category"
            name="%commands.category">
      </category>
      <command
            defaultHandler="ru.zelenyhleb.etk.ui.ConvertHandler"
            id="ru.zelenyhleb.etk.ui.commands.convert"
            name="%commands.convert">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="ru.zelenyhleb.etk.ui.commands.convert"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     operator="or">
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="ru.zelenyhleb.etk.ui.wizards.category"
            name="%wizards.category">
      </category>
      <wizard
            category="ru.zelenyhleb.etk.ui.wizards.category"
            class="ru.zelenyhleb.etk.ui.wizards.bundle.CreateBundleWizard"
            icon="platform:/plugin/org.eclipse.pde.ui/icons/etool16/newpprj_wiz.png"
            id="ru.zelenyhleb.etk.ui.createBundleWizard"
            name="%wizards.createBundle"
            project="true">
      </wizard>
      <wizard
            category="ru.zelenyhleb.etk.ui.wizards.category"
            class="ru.zelenyhleb.etk.ui.wizards.feature.CreateFeatureWizard"
            icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/feature_obj.png"
            id="ru.zelenyhleb.etk.ui.createFeatureWizard"
            name="%wizards.createFeature"
            project="true">
      </wizard>
   </extension>
</plugin>
